<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portofolio | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" > 
	<link rel="stylesheet" type="text/css" href="styles.css">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700">
</head>
<body>
	<span>Sistema de Informacion Geografica</span>
	<form action="/authenticated" method="post">
			<label>Usuario</label>
			<input type="text" id="usuario_login" name="usuario_login">
			<label>Password</label>
			<input type="password" id="password_login" name="password_login">
			<input type="submit" text="Siguiente"/>
	</form>
	</body>
	<br>
	<footer><label style="color:red">{{msjError}}</label></footer>
</body>
</html>
